/*
Paletas de cores

*/

:root {
  --marrom: #533410;
  --branco-bege: #FDF4EA;
  --marrom-claro: #b17023;
  --cinza-claro: #aaa;
  --preto: #000000;
  --light: #f9debf;
  --marrom2: #8E591C;
  --laranja: #EC952F;
  --preto-claro: #00000072;
}
